$mobile: 767px;
.main {
    text-align: center;
    min-height: 97vh;
    margin-top: 3vh;
    .header {
        text-align: left;
        width: fit-content;
    }
    .logo {
        font-size: 2rem;
        font-weight: bold;
        background-color: #000;
        color: #fff;
        width: fit-content;
        margin-left: 5vw;
        padding: 5px;
    }
    .stressfree {
        margin-top: 8vh;
        margin-left: 5vw;
        font-size: 13rem;
        font-weight: bold;
        color: #000;
        margin-bottom: 2rem;
        text-align: left;
    }
    .start_button {
        border: none;
        background-color: #000;
        color: #fff;
        padding: 10px;
        font-size: 1.5rem;
        width: 130px;
        height: 50px;
        border-radius: 10px;
        margin: 20px;
        cursor: pointer;
        box-shadow: 0 0 17px rgb(88, 88, 88);
        transition: 0.5s;
    }
    .start_button:hover {
        box-shadow: 0 0 0 gray;
        transition: 0.5s;
    }
    .descripton {
        margin: 15px;
    }
}


// mobile
@media screen and (max-width: $mobile) {
    .main {
        max-width: 100vw;
        text-align: center;
        .logo {
            font-size: 1.7rem;
            font-weight: bold;
            background-color: #000;
            color: #fff;
            width: fit-content;
            margin-left: 5vw;
            padding: 5px;
        }
        .stressfree {
            margin-top: 8vh;
            margin-left: 5vw;
            font-size: 4rem;
            font-weight: bold;
            color: #000;
            margin-bottom: 2rem;
            text-align: left;
        }
    }
}